@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/8af05b6daefb4b0280310ad1894ea505.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fax1:before {
  content: "\e603";
}

.icon-dizhi:before {
  content: "\e68d";
}

.icon-youxiang1:before {
  content: "\e606";
}

.icon-new:before {
  content: "\e685";
}

.icon-xingxing:before {
  content: "\e609";
}

.icon-hot:before {
  content: "\e601";
}

.icon-youjiantou:before {
  content: "\e63f";
}

.icon-arrow-right:before {
  content: "\e607";
}

.icon-arrow-left:before {
  content: "\e60a";
}

.icon-icon:before {
  content: "\e6e0";
}

.icon-icon13:before {
  content: "\e6e1";
}

.icon-gouwudai:before {
  content: "\e611";
}

.icon-shangcheng:before {
  content: "\e627";
}

.icon-xinxi:before {
  content: "\e655";
}

.icon-yousanjiao:before {
  content: "\e602";
}

.icon-zhibo1:before {
  content: "\e6aa";
}

.icon-shouji1:before {
  content: "\e605";
}

.icon-database:before {
  content: "\e7ad";
}

.icon-dianhua:before {
  content: "\e69a";
}

.icon-diannao:before {
  content: "\e600";
}

.icon-daimax:before {
  content: "\e645";
}

.icon-duanjiantou:before {
  content: "\e6bd";
}

.icon-gengduo:before {
  content: "\e6e8";
}

.icon-back:before {
  content: "\e60e";
}

.icon-next:before {
  content: "\e60f";
}

.icon-chahao:before {
  content: "\e604";
}

