@charset "utf-8";
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/字体名��.eot');
    src: url('../fonts/字体名��.eot') format('embedded-opentype'), url('../fonts/字体名��.woff2') format('woff2'), url('../fonts/字体名��.woff') format('woff'), url('../fonts/字体名��.ttf') format('truetype'), url('../fonts/字体名��.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color:#fff;
    color:#000;
    font-size:12px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

body {
    font-family:"微软雅黑", Arial,sans-serif;
    color: #333;
    font-size:12px;
    line-height: 1.5;
}

*{margin:0;padding:0}

ul, ol, li, dl, dt, dd {  list-style: none;  }

table{border-collapse:collapse;border-spacing:0;}

fieldset,img{border:0}

img{max-width: 100%;}

input,textarea,button,select,a{outline:0 none;border: none;font-family:"微软雅黑", Arial,sans-serif;}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"],
button,textarea {
    -webkit-appearance: none;
    background: none;
    border-radius: 0;
    cursor: pointer;
}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}

a{
    text-decoration:none;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #323232;
}
input:-moz-placeholder,textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #323232;
}
input::-moz-placeholder,textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #323232;
}
input::-ms-input-placeholder,textarea::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #323232;
}
body ::selection {
    color: #FFFFFF;
    background-color: #0085b9;
    text-shadow: none;
}
body ::-moz-selection {
    color: #FFFFFF;
    background-color: #0085b9;
    text-shadow: none;
}
/*--*/
/*滚轮*/
/*::-webkit-scrollbar {*/
/*width: 3px;*/
/*height: 5px;*/
/*background-color: #fff;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*border-radius: 10px;*/
/*background-color: #999;*/
/*}*/
/*::selection {*/
/*background: red;*/
/*}*/

